body{
		background-color: #5280C5; 
		color: #003366; 
		font-family: Verdana, Arial, sans-serif;
		background-image: url(gradientblue.jpg);
	}

header {
		background-color: #000066; 
	    color: #F0F0F0; 
		text-align:center;
		background-image: url(bigfish.gif); 
		background-repeat: no-repeat;
		background-position: center;
	}
		
h1  {
	  	line-height: 250%; 
		text-indent: 1em;
		font-size: 3em;
		padding: 0.2em;
		text-shadow: #CCCCCC;
		margin-bottom: 0;
	}

nav {
		float: left;
		width: 180px;
		font-weight: bold;
		padding: 5px;
		nav ul	{
				list-style-type: none;
				text-decoration: none;
				}
	}

nav a:link	{
			color: #000066;
			}

nav a:visited	{
			color: #5280C5;
			}
			
nav a:hover	{
			color: #3262A3;
			}

dt 	{
		color: #5280C5; 
		font-size: 1em; 
		font-weight: bold;
	}
   
.category {
		color: #5380C5; 
		font-weight: bold; 
		font-family: Georgia, New Times Roman, serif;
		text-shadow: 1px 1px 1px #667;
		  }

img {
		border: none;
	}
		  
#wrapper {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		background-color: #F0F0F0;
		min-width: 700px;
		}

main	{
		margin-left: 180px;
		padding-left: 2em;
		padding-right: 2em;
		background-color: #ffffff;
		border: solid;
		border-width: 1px;
		border-color: #AEC3E3;
		}


			
footer {
		background-color: #AEC3E3;
		font-size: .70em; 
		font-style: italic;
		text-align: center;
		padding: 1em;
		margin-left: 180px;
		}
		
* 		{
		box-sizing: border-box;
		}

header, nav, main, footer 	{
							display: block;
							}